<p-tabView styleClass="tabview-custom">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <div class="flex items-center gap-2">
        <i class="pi pi-file-import" style="font-size: 1.5rem"></i>
        <div>File</div>
      </div>
    </ng-template>
    <div style="width: 100%; height: calc(100vh - 346px)" class=" flex flex-col">
      <div class="w-full grow">
        <app-td-upload [control]="fileControl">
          <ng-template #actions>
            <app-create-item-button [disabled]="disabledFile" [td]="fileControl.value" (onSuccess)="onSuccess()">
            </app-create-item-button>
          </ng-template>
        </app-td-upload>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel>
    <ng-template pTemplate="header">
      <div class="flex items-center gap-2">
        <i class="pi pi-code" style="font-size: 1.5rem"></i>
        <div>Code</div>
      </div>
    </ng-template>
    <div style="width: 100%; height: calc(100vh - 346px)" class=" flex flex-col">
      <div class="w-full grow">
        <app-json-editor [formControl]="codeControl"></app-json-editor>
      </div>
      <div class="flex items-center w-full justify-between mt-8">
        <app-platform-copy label="Copy TD" [textToCopy]="codeControl.value" copyMessage="TD copied to clipboard">
        </app-platform-copy>
        <app-create-item-button [disabled]="disabledCode" [td]="codeControl.value" (onSuccess)="onSuccess()">
        </app-create-item-button>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>