<div [ngClass]="[
    'bg-transparent relative flex items-center cursor-pointer text-xs font-medium text-white select-none h-12 tracking-wider hover:bg-primary-400',
    (menuFolded$ | async) ? 'w-12' : 'w-40',
  ]" [style]="{marginTop: marginTop}" [routerLink]="[path]" [routerLinkActive]="'!bg-primary-500'"
  [routerLinkActiveOptions]="{ exact: true }">
  <div *ngIf="isActive" class="w-1 h-12 bg-secondary-400 absolute top-0 right-0"></div>
  <div class="text-white px-4">
    <div class="flex items-center" [style]="{paddingLeft: paddingLeft}">
      <div *ngIf="symbol" class="w-8 pr-4 flex items-center justify-center">
        {{ symbol }}
      </div>
      <fa-icon *ngIf="icon" class="w-8 text-white pr-4" style="font-size: 1rem" [icon]="icon"></fa-icon>
      <div *ngIf="!(menuFolded$ | async)">{{ name ?? 'Menu item' }}</div>
    </div>
  </div>
</div>