<div
  [ngStyle]="{
    width: '100%',
    height: 'calc(100vh - 208px)'
  }"
>
  <div *ngIf="loading" class="w-full h-full flex items-center justify-center">
    <app-spinner></app-spinner>
  </div>
  <div class="h-[calc(100%-64px)] w-full">
    <app-jsonld-editor [hidden]="loading" [formControl]="td" [readOnly]="!edit"></app-jsonld-editor>
  </div>
  <div class="flex items-center w-full justify-end mt-8 gap-4">
    <p-button
      label="Copy TD"
      appCopyToClipboard
      [textToCopy]="thingDescription"
      copyMessage="Thing Description copied to clipboard"
      icon="pi pi-copy"
      styleClass="p-button-outlined"
    ></p-button>
    <p-button *ngIf="edit" label="Update TD" icon="pi pi-upload" [loading]="updating" (click)="updateItem()"></p-button>
  </div>
</div>
