<div class="section w-full h-full">
  <div class="pt-1 px-1">
    <app-items-table
      [itemsUI]="(itemsUI$ | async)!"
      linkToDetail="/item-detail/node"
      [initialTypeFilter]="initialTypeFilter"
    >
      <ng-template #header>
        <div class="flex items-center gap-4">
          <app-node-pictogram></app-node-pictogram>
          <app-new-item-button></app-new-item-button>
        </div>
      </ng-template>
      <ng-template #actions let-item>
        <app-actions [item]="item"></app-actions>
      </ng-template>
    </app-items-table>
  </div>
</div>
