<div class="toolbar flex justify-between w-full items-center -z-20">
  <div class="flex">
    <div class="bg-primary-50">
      <div class="pt-0.5">
        <app-logo size="normal"></app-logo>
      </div>
    </div>
    <div [ngClass]="['bg-primary-50', 'rounded-r-full', 'h-16', 'w-12']"></div>
  </div>
  <div class="mr-4">
    <!-- <div (click)="op.toggle($event)" class="cursor-pointer pr-4">
      <app-node-profile-pictogram size="small"></app-node-profile-pictogram>
    </div> -->
  </div>
</div>
<p-overlayPanel #op>
  <app-node-profile></app-node-profile>
</p-overlayPanel>
