<div class="relative w-fit h-fit z-50">
  <div
    class="w-full h-full absolute top-0 left-0"
    (mouseover)="showOp($event)"
    (mouseout)="hideOp($event)"
    (click)="hideOp($event)"
    [ngStyle]="{ width: width + 'px', height: height + 'px', top: top + 'px', left: left + 'px' }"
  ></div>
  <div class="z-40">
    <ng-content></ng-content>
  </div>
  <p-overlayPanel #op (mouseout)="hideOp($event)">
    <div *ngIf="overlay">
      <ng-template [ngTemplateOutlet]="overlay"></ng-template>
    </div>
  </p-overlayPanel>
</div>
