<div class="relative">
  <div
    class="w-24 h-8 absolute top-0 left-0"
    (mouseover)="showOp($event)"
    (mouseout)="hideOp()"
    (click)="hideOp()"
  ></div>
  <div class="w-fit h-8 flex items-center justify-center gap-2">
    <div>
      <p-badge *ngIf="length > 0" [value]="length.toString()" severity="info"></p-badge>
      <p-overlayPanel #op>
        <div *ngIf="length <= 0" class="text-sm text-text-300">This item has no properties</div>
        <div *ngIf="length > 0">
          <div class="item-label pb-2">{{ inflectPropNum(length) }}:</div>
          <ul class="list-disc pl-4">
            <li *ngFor="let prop of properties">
              <div class="pb-1">
                {{ prop.name }}
              </div>
            </li>
          </ul>
        </div>
      </p-overlayPanel>
    </div>
    <div class="text-sm font-medium text-text-500">
      {{ inflectPropNum(length) }}
    </div>
  </div>
</div>
