<app-toast>
  <div>
    <div *ngIf="!loading">
      <div>
        <app-header></app-header>
        <div class="wrapper h-[calc(100vh-58px)] text-text-500">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <div *ngIf="loading">
      <div class="w-screen h-screen grid place-items-center">
        <div class="flex flex-col justify-center items-center">
          <app-spinner></app-spinner>
          <div class="text-text-500 font-bold mt-4">Discovering your infrastructure...</div>
          <div class="text-text-300 font-bold text-xs mt-4">It takes about 15 seconds per 10 items</div>
        </div>
      </div>
    </div>
  </div>
</app-toast>
