<div class="w-full h-full text-text-500 text-sm font-medium card px-4">
  <div class="w-full h-full flex flex-col">
    <div class="grow">
      <div class="h-full flex gap-4">
        <div class="mt-4 flex flex-col h-full" style="width: 400px">
          <div class="flex gap-8">
            <div class="w-40 flex flex-col items-center">
              <fa-icon class="text-primary-500" style="font-size: 4rem" icon="circle-nodes"></fa-icon>
              <div class="mt-2">
                <p-tag value="Node is online" severity="success"></p-tag>
              </div>
            </div>
            <div>
              <div class="mt-2">
                <div class="item-label">Agid:</div>
                <div>
                  {{ myNode.agid }}
                  <span
                    class="justify-center cursor-pointer text-primary-500"
                    appCopyToClipboard
                    [textToCopy]="myNode.agid"
                    copyMessage="Agid copied to clipboard"
                  >
                    <i class="pi pi-copy" style="font-size: 1.25rem"></i>
                  </span>
                </div>
              </div>
              <div class="mt-4">
                <div class="item-label pb-1">Owner:</div>
                <div class="flex items-center gap-4">
                  <p-avatar
                    [label]="myNode.organisation.charAt(0).toUpperCase()"
                    shape="circle"
                    size="large"
                  ></p-avatar>
                  <div>{{ myNode.organisation }}</div>
                </div>
              </div>
              <div class="mt-10 flex flex-col gap-2">
                <div class="flex items-center gap-4">
                  <div class="item-label w-36">Registered items:</div>
                  <div>{{ myItems.length }}</div>
                </div>
                <div class="flex items-center gap-4">
                  <div class="item-label w-36">Prtnerships:</div>
                  <div>{{ partnerships.length }}</div>
                </div>
                <div class="flex items-center gap-4">
                  <div class="item-label w-36">Communities:</div>
                  <div>{{ communities.length }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="grow">
          </div>
        </div>
        <div class="w-96 my-4">
          <!-- <div class="section">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
          </div> -->
        </div>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="mt-4 text-xs text-text-200 w-full pb-6">
      <div class="w-fit">
        <div class="flex items-center gap-2">
          <div>{{ lastConfigurationUpdate | date }}</div>
          <div>last configuration update</div>
        </div>
        <div class="mt-2 flex items-center gap-2">
          <div>{{ lastPartnersUpdate | date }}</div>
          <div>last partners update</div>
        </div>
        <div class="mt-2 flex items-center gap-2">
          <div>{{ lastPrivacyUpdate | date }}</div>
          <div>last privacy update</div>
        </div>
      </div>
    </div>
  </div>
</div>
